*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.ofertas-semanales {
  background-color: #120019;
  color: white;
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.etiqueta-descuento {
  background-color: #f74ca4;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.contenedor-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-juego {
  background-color: #1c0b2b;
  border-radius: 15px;
  overflow: hidden;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card-juego:hover {
  transform: scale(1.02);
}

.imagen-contenedor {
  position: relative;
  height: 140px;
  background: #2a0d40;
}

.imagen-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff33, #ffffff11);
  font-size: 30px;
  color: #ccc;
}

.descuento {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff006e;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
}

.info-genero {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px 6px;
  border-radius: 6px;
}

.btn-trailer {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #8a2be2;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
}

.info-juego {
  padding: 15px;
}

.info-juego h3 {
  margin: 0;
  font-size: 16px;
}

.info-juego p {
  font-size: 12px;
  color: #c2c2c2;
  margin: 6px 0;
}

.precios {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin: 6px 0;
}

.precio-descuento {
  font-size: 16px;
  font-weight: bold;
  color: #e35cf4;
}

.precio-original {
  text-decoration: line-through;
  font-size: 13px;
  color: #999;
}

.btn-carrito {
  width: 100%;
  background: #c720f7;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
