/* UsuariosPanel.css */

.usuarios-panel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-header h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #e9e9e9;
}

.main-header p {
  margin: 0;
  color: #ffffff;
}

.usuarios-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}

.user-card {
  background-color:#2e2e2e;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.avatar {
  font-size: 2rem;
}

.user-info {
  flex: 1;
}

.user-info strong {
  font-size: 1.1rem;
}

.user-info p {
  margin: 4px 0;
  font-size: 0.9rem;
}
.user-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-btn,
.delete-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.edit-btn {
  background-color: #c7d2fe;
  color: #1e3a8a;
}

.edit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delete-btn {
  background-color: #fecaca;
  color: #991b1b;
}

@media screen and (max-width: 600px) {
  .search-input {
    width: 100%;
    margin-top: 10px;
  }

  .main-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
